body{
	background-color:white;
	margin:0;
}

*{
	font-family:Verdana !important;
}

.main{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width:600px;
}

.tab{
	height:615px;
}

.icon{
	border:none;
	position:relative;
	left:17px;
	vertical-align:middle;
}

.gameBar{
	margin-left:-120px;
	width:390px;
	height:45px;
	font-size:1.4em;
}

/* Game Left panel */
.gamePanel{
	width:250px;
	height:400px;
	border:2px inset white;
}


.innerGamePanel{
	margin: 12px 0 0 10px;
	background-color: #E6E6E6;
	background-image:url(../images/back.jpg);
	background-repeat:no-repeat;
	background-position:0px 375px;
	width:230px;
	height:375px;
	border:1px solid grey;
	float:left;
	-moz-border-radius-bottomleft: 45px;
	-moz-border-radius-bottomright: 45px;
	-webkit-border-bottom-left-radius: 45px;
	-webkit-border-bottom-right-radius: 45px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}

#cardDisplay{
	margin: 50px 0 0 14px;
	width:216px;
	height:288px;
}

div.gameButtons{
	text-align:center;
	margin-top: 10px;
}

/* Info Right panel */

.infoPanel{
	width:315px;
	height:395px;
}

.infoBar{
	margin-top:15px;
	height:115px;
	text-align:center;
}

#pictureDisplay{
	margin-left: auto;
	margin-right: auto;
	width:214px;
	height:214px;
	background:url(../images/drink.jpg);
	border:1px solid #7AB9F0;
}

.infoSlider{
	text-align:center;
	margin-left:5px;
	margin-right:5px;
	border:3px outset lightGrey;
	padding-top:4px;
	padding-bottom:3px;
	font-size:1.1em;
	font-weight:bold;
}

.infoSlider > span{
	font-size:1.2em;
}

button.betButton{
	margin-bottom:4px;
	border:2px solid #4297D7 !important;
}

.correctGuess{
	font-size:2.0em;
	color:#4297D7;
}
.incorrectGuess{
	font-size:1.7em;
	color:red;
}
.fingers{
	font-size:2.2em;
}

/* Buttons */

/*Higher/lower buttons */
button.gameM{
	height:90px;
	width:120px;
	border: 2px solid #D3D3D3 !important;
}

button.gameM span{
	font-weight:bold;
	font-size:1.3em;
	color:#336003;
}

button.gameM#lower span{
	font-weight:bold;
	color:#FF0000;
}

button.newGame{
	height:70px;
	width:100px;
	background:url('../images/newGame.png');
	border:0;
}

button.newGame:hover {
	background:url('../images/newGame_pressed.png');
}

.curvyH { -moz-border-radius: 55px 15px 15px 15px !important; -webkit-border-radius: 55px 15px 15px 15px !important; border-radius: 55px 15px 15px 15px !important; }
.curvyL { -moz-border-radius: 15px 15px 55px 15px !important; -webkit-border-radius: 15px 15px 55px 15px !important; border-radius: 15px 15px 55px 15px !important; }


/*Form */
#newGameForm button{
	font-size:1.0em;
}

#newGameForm div{
	margin-top:8px;
}

#newGameForm div,#newGameForm span{
	padding:9px;
	font-size:1.3em;
}

#newGameForm label{
	padding:5px 15px 5px 0;
	font-size:1.3em;
}

#newGameForm div input{
	width:110px;
}

#newGameForm div select{
	width:120px;
}

/*Start and Cancel buttons*/
#newGameButtons button.formButton{
	height:70px;
	border: 3px solid #D3D3D3 !important;
}

#newGameButtons button.formButton span{
	font-weight:bold;
	font-size:1.3em;
	color:#336003;
}

#newGameButtons button#cancelGame span{
	color:black;
}

.formIcon{
	vertical-align:middle;
	margin-right:6px;
}

/*Scores tab */

table.scoreTable{
	margin-top:10px;
	border:1px solid #6D7B8D;
	border-spacing: 0;
}


table.scoreTable tr th, table.scoreTable tr td{
	border:1px solid #6D7B8D;
	padding:5px;
	font-size:1.3em;
	height:60px;
}

table.scoreTable tr th{
	background-color:#F4F4F4;
	width:90px;
	max-width: 108px;
	overflow:hidden;
}

table.scoreTable tr td{
	width:30px;
	max-width:30px;
	text-align:center;
}

table.scoreTable tr td.correct{
	background-color:#66CC99;
}

table.scoreTable tr td.incorrect{
	background-color:#F78181;
}

/*Drinkers tab */

#drinkersTab table{
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #6D7B8D;
	border-spacing: 0;
	font-size:1.4em;
	text-align: center;
}

#drinkersTab table  tr th, #drinkersTab table tr td{
	border:1px solid #6D7B8D;
	padding:8px;
}

#drinkersTab table tr th{
	background-color:#F4F4F4;
	width: 98px;
	overflow:hidden;
}

#drinkersTab table tr th:first-child{
	width: 35px;
}
#drinkersTab table tr th:last-child{
	width: 137px;
}

#drinkersTab table tr td:first-child{
	background-color:#F4F4F4;
}

.asc{
	background-color:#7AB9F0 !important;
}

.desc{
	background-color:#FF3333 !important;
}