body{
	background:url(../images/background.jpg) repeat scroll center top transparent;
	margin:0;
}

.header{
	height:90px;
	text-align:center;
	font-family: Comic Sans MS;
}

.banner{
	background:url(../images/newLogo.png) no-repeat top center;
	width:400px;
	height:60px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	top:15px;
	right: 210px;
}

.main{
	margin-left: auto;
	margin-right: auto;
	width:785px;
}

.tab{
	height:505px;
}

.icon{
	border:none;
	position:relative;
	left:17px;
	vertical-align:middle;
}

.gameBar{
	margin: 5px 0 0 10px;
	width:255px;
	font-size:1.1em;
}

/* Game Left panel */
.gamePanel{
	width:370px;
	height:400px;
	border:2px inset white;
}


.innerGamePanel{
	margin: 12px 0 0 10px;
	background-color: lightgrey;
	background-image:url(../images/back.jpg);
	background-repeat:no-repeat;
	background-position:0px 375px;
	width:250px;
	height:375px;
	border:1px solid grey;
	float:left;
	-moz-border-radius-bottomleft: 45px;
	-moz-border-radius-bottomright: 45px;
	-webkit-border-bottom-left-radius: 45px;
	-webkit-border-bottom-right-radius: 45px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}

#cardDisplay{
	margin: 50px 0 0 22px;
	width:216px;
	height:288px;
}

div.gameButtons{
	text-align:center;
	margin-right:5px;
	margin-top: 15px;
}

/* Info Right panel */

.infoPanel{
	width:360px;
	height:420px;
}

.infoBar{
	margin-top:15px;
	height:30px;
	text-align:center;
}

#pictureDisplay{
	margin-left: auto;
	margin-right: auto;
	margin-top:45px;
	margin-bottom:-15px;
	width:214px;
	height:214px;
	background:url(../images/drink.jpg);
	border:1px solid #7AB9F0;
}

.infoSlider{
	text-align:center;
	margin-top:40px;
	margin-left:20px;
	border:2px solid #4297D7;
	padding:15px;
}

#bettingSlider {
	border:2px inset white;
}

#bettingSlider a{
	border:1px solid #4297D7;
}

/* Buttons */

/*Higher/lower buttons */
button.game,button[disabled].game:hover{
	height:183px;
	width:88px;
	background:url('../images/up_arrow.png') no-repeat;
	border:none;
}


button.game#lower,button[disabled].game#lower:hover{
	background:url('../images/down_arrow.png') no-repeat;
}

button.game:hover{
	background:url('../images/up_arrow_glow.png') no-repeat;
}

button.game#lower:hover{
	background:url('../images/down_arrow_glow.png') no-repeat;
}

button[disabled].game{
	opacity:0.6;
}

button.newGame{
	height:70px;
	width:100px;
	background:url('../images/newGame.png');
	border:0;
}

button.newGame:hover {
	background:url('../images/newGame_pressed.png');
}

.curvy { -moz-border-radius: 15px !important; -webkit-border-radius: 15px !important; border-radius: 15px!important; }


/*Form */
#newGameForm div{
	margin-top:10px;
}

#newGameForm div{
	padding:5px;
	font-size:1.2em;
}

#newGameForm span{
	padding:10px;
}

#newGameForm div input{
	width:110px;
}

#newGameForm div select{
	width:120px;
}

button.formButton{
	height:70px;
	border: 2px solid #D3D3D3 !important;
}

button.formButton span{
	font-weight:bold;
	font-size:1.3em;
	color:#336003;
}

button#cancelGame span{
	color:black;
}

/*Scores tab */

table.scoreTable{
	margin-top:10px;
	border:1px solid #6D7B8D;
	border-spacing: 0;
}


table.scoreTable tr th, table.scoreTable tr td{
	border:1px solid #6D7B8D;
	padding:5px;
}

table.scoreTable tr th{
	background-color:#F4F4F4;
	width:90px;
	max-width: 90px;
	overflow:hidden;
}

table.scoreTable tr td{
	width:30px;
	max-width:30px;
	text-align:center;
}

table.scoreTable tr td.correct{
	background-color:#66CC99;
}

table.scoreTable tr td.incorrect{
	background-color:#F78181;
}

/*Drinkers tab */

#drinkersTab table{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #6D7B8D;
	border-spacing: 0;
	font-size:1.2em;
	text-align: center;
}

#drinkersTab table  tr th, #drinkersTab table tr td{
	border:1px solid #6D7B8D;
	padding:8px;
}

#drinkersTab table tr th{
	background-color:#F4F4F4;
	width: 145px;
	height:50px;
	overflow:hidden;
}

.asc{
	background-color:#7AB9F0 !important;
}

.desc{
	background-color:#FF3333 !important;
}

#drinkersTab table tr th:first-child{
	width: 70px;
}

#drinkersTab table tr td:first-child{
	background-color:#F4F4F4;
}