.main{
	/*To fit app screen perfectly*/
	margin-top: -20px;
	margin-bottom:-20px;
}

.main p:first-child{
	border:1px inset white;
	background-color:lightGray;
	padding:4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*To fit app screen perfectly*/
	margin-bottom:12px;
}

.main  *{
	text-align:center;
}
/*Hide dialogue close button*/
.header a{
	display:none !important;
}

#cardDisplay{
	margin-left:auto;
	margin-right:auto;
	width:147px;
	height:194px;
	border:2px inset white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

}

#cardDisplay img{
	width:123px;
	height:180px;
	margin-top: 7px;
	background-color:white;
}

/* Betting buttons */
span.betButton{	
	font-size:0.9em;
}

/*Slider*/
#sliderPanel{
	height:40px;
	margin-bottom:10px;
}

#sliderBar{
	font-weight:bold;
}

#sliderBar div{
	width:65%;
}

#currentNumFingers{
	width:20px;
	text-align: left;
}

/*Bottom bar*/
#footer{
	height:47px;
}

#newGame{
	margin-left:10px;
	margin-right:30px;
}

/*Lee pop up */

div#pictureContainer{
	text-align:center;
}

div#pictureContainer >div{
	height:80px;
}

#pictureDisplay{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5px;
	width:174px;
	height:174px;
	border:1px solid #7AB9F0;
}

span#drinkMessage{
	font-size:1.1em;
	color:red;
}

#fingers{
	font-weight:bold;
}

/* Form*/

a#addPlayer,a#removePlayer {
	font-size:0.7em;
}

#playerRows{
	width: 100%;
	padding-bottom: 5px;
}

#gameOptions {
	margin-bottom:0px;
	padding-bottom: 8px;
}

#playerRows, #gameOptions {
	border-bottom:1px solid lightGray;
	border-radius: 0;
}

#gameOptions label{
	font-size:0.7em;
}

#gameOptions label > span{
	padding:0.6em 10px;
}

#playerList li{
	font-size:0.8em;
}

/*Scores tab */

table.scoreTable{
	border:1px solid #6D7B8D;
	border-bottom-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
	font-weight: bold;
    text-shadow: none;
	padding:5px;
}

table.scoreTable tr th, table.scoreTable tr td{
	padding:4px;
}

table.scoreTable tr th{
	width:80px;
	max-width: 80px;
	text-shadow: 0 1px 0 grey;
	text-align: left;
}

table.scoreTable tr td{
	width:22px;
	max-width:22px;
	text-align:center;
	border: 1px solid grey;
}

table.scoreTable tr td.correct{
	background-color:#66CC99;
}

table.scoreTable tr td.incorrect{
	background-color:#F78181;
}